<%- include('partials/header'); -%>
    <p class="display-3 text-center"><%= blog.title %></p>
    <div class="container">
        <p class="display-4"><%= blog.description %></p>
        <p class="display-6"><%= blog.content %></p>
        <br>
        <p style="font-family: sans-serif" class="text-muted fs-6">Written On <%= blog.formatedDate %> </p>
        <br>
        <button type="button" id="<%= blog.id %>" class="updateButton btn btn-outline-success btn-lg " onclick="edit()">Update Blog</button>
        <button type="button" id="<%= blog.id %>" class="deleteButton btn btn-outline-danger btn-lg ms-5" onclick="request()">Delete Blog</button>
    </div>
    <script>
        const deleteButton = document.querySelector('.deleteButton');
        const updateButton = document.querySelector('.updateButton');
        const request = () => {
            fetch(`/blogs/${deleteButton.id}`, {
                method : 'DELETE'
            })
                .then(data=>data.json())
                .then(data=>location.assign(data.redirect))
                .catch(err=>console.log(err));
        }
        const edit = () => {
            location.assign(`update/${updateButton.id}`);
        }
    </script>
<%- include('partials/footer'); -%>