<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>
    <% if (blog){ %> 
        <h1><%= blog.title %></h1>
        <p><%= blog.description %> </p>
        <p><%= blog.content %> </p>
        <p>Created On : <%= blog.createdAt %> </p>
        <p>Last Updated On : <%= blog.updatedAt %> </p>
        <button id="<%= blog.id %> " class="deleteButton" onclick="request()">Delete Blog</button>
        <button id="<%= blog.id %>" class="updateButton" onclick="edit()">Update Blog</button>
    <% } %> 
    <script>
        const deleteButton = document.querySelector('.deleteButton');
        const updateButton = document.querySelector('.updateButton');
        const request = () => {
            fetch(`/blogs/${deleteButton.id}`, {
                method : 'DELETE'
            })
                .then(data=>data.json())
                .then(data=>location.assign(data.redirect))
                .catch(err=>console.log(err));
        }
        const edit = () => {
            location.assign(`update/${updateButton.id}`);
        }
    </script>
</body>
</html>