<%- include('partials/header'); -%>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% blogs.forEach(blog=>{ %> 
        <div class="col pt-3">
        <div class="card border-warning">
            <div class="card-body">
            <h5 class="card-title"><%= blog.title %> </h5>
            <p class="card-text"><%= blog.description %> </p>
            <a href="/blogs/detail/<%= blog._id %>" class="btn btn-primary">Read More...</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated <%= blog.relUpdate %> </small>
            </div>
        </div>
        </div>
    <% }) %>
  </div>
<%- include('partials/footer'); -%>