<%- include('partials/header'); -%>
<form id="<%= blog._id %>">
    <div class="form-group text-center mx-5 py-3">
        <label for="title">TITLE</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="title..." value="<%= blog.title.trim() %> ">
        <p class="error"></p>
    </div>

    <div class="form-group text-center mx-5 py-3">
        <label for="description">DESCRIPTION</label>
        <input type="text" value="<%= blog.description.trim() %> " class="form-control" id="description" name="description" placeholder="description...">
    </div>

    <div class="form-group text-center mx-5 py-3">
        <label for="content">CONTENT</label>
        <textarea class="form-control" id="content" name="content" rows="3"><%= blog.content.trim() %>
        </textarea>
    </div>

    <div class="form-group text-center mx-5 py-3">
        <button type="submit" class="btn btn-outline-success">Submit</button>
    </div>
    
</form>

<script src="/js/update.js"></script>
<%- include('partials/footer'); -%>
